version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: kplc
      POSTGRES_USER: kplc_user
      POSTGRES_PASSWORD: kplc_pass
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  mailer:
    image: mailhog/mailhog
    restart: always
    ports:
      - "1025:1025" # SMTPss
      - "8025:8025" # Web UI

  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: db
    depends_on:
      - db

  app:
    image: kplc-web-application:latest
    container_name: kplc-web-application
    pull_policy: never
    ports:
      - "3000:3000"
    env_file:
      - .env
    
    depends_on:
      - db
      - redis
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:3000/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

volumes:
  db_data:
